.Forecast {
  display: flex;
  justify-content: space-around;
}
.weather-forecast-date {
  text-align: center;
  color: #9223a9;
  opacity: 0.4;
  font-size: 16px;
  line-height: 20px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  color: #9223a9;
  text-align: center;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
  margin-bottom: 10px;
}
